@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');

*{
    box-sizing: border-box;
}
body{
     margin: 0;
      padding: 20px; 
     background-color: #f1f1f1;
}
header{
    background-color: white;
    padding: 20px;
}
header h1{
    font-family: 'Courier Prime', monospace;
    text-align: center;
    font-size: 60px;
    color: black;
    margin: 1.5 0px;
     /* background-image: linear-gradient(to right, #f00,#ff0,#0ff,#0f0,#00f);
     -webkit-background-clip: text; 
     animation: animate 20s linear infinite;
    background-size: 1000%;   */
}
/* @keyframes animate
{
	0%{
	     background-position:0% 100%;
	}
	50%{
	     background-position:100% 0%;
	}
	100%{
	     background-position:0% 100%;
	}
} */
.navbar-brand{
    font-weight: 700 !important;
    font-size: 30px !important;
}
.nav-item{
    font-size: 18px !important;
}
ul li:first-child {
    margin-right: 0px !important; 
    font-weight: 700;
}
ul li:last-child {
     margin-left: 0px !important;
    font-weight: 700; 
}


span{
color: red;
}
.left-column{
    float: left;
    width: 75%;
}
.right-column{
   float: right;
   width: 25%; 
   padding-left: 20px;
}
.card{
    padding: 20px;
    background-color: #ffffff;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
}
.card img{
    width: 100%;
}
.right-column .card img{
    margin-bottom: 10px;
}
h2{
    color: rgb(34, 34, 34);
}
h4{
    color: rgb(95, 95, 95);
}
br{
    height: 90px;
}
p{
    color: rgb(87, 87, 87);
    text-decoration: none;
    font-style: normal;
    line-height: 25px;
}
p a{
    text-decoration: none;
    color:rgb(255, 0, 0) ;
}
.row::after{
    content: '';
    display: table;
    clear: both;
}
.foot {
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    width: 100%;
    height: 270px;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    background-color:rgb(0, 0, 0);
}
.right {
    text-align: left;
    padding-right: 10px;
    float:right;
    width: 50%;
    height: 250px;
}
.left{
    float: left;
    width: 50%;
    height: 250px;
}
.footer {
    padding-top: 100px;
    width: 100%;
}
@media(max-width:800px){
    .left-column,.right-column{
        width: 100%;
        padding: 0;
    }
    header h1{
        text-align: center;
        font-size: 30px;
        color: #000000;
        margin: 1.5 0px;
    }
}
@media(min-width:800px){
    .left-column,.right-column{
        width: 50%;
        padding: 0;
    }
    header h1{
        text-align: center;
        font-size: 50px;
        color: #000000;
        margin: 1.5 0px;
    }
}
    @media(min-width:1200px){
        .left-column{
            float: left;
            width: 75%;
        }
        .right-column{
           float: right;
           width: 25%; 
           padding-left: 20px;
        }  
        header h1{
            text-align: center;
            font-size: 60px;
            color: #000000;
            margin: 1.5 0px;
        }
    }